*{
    margin: 0;
    padding: 0;
}





.main {
    height: 80vh;
    background-image: url("assets/img/bg.jpg");
    position: relative;
}

.main .box {
    height: 80vh;
    width: 100%;
    opacity: 0.44;
    background-color: black;
    position: absolute;
}